# Exclude everything
/*

# Include specifically

## important Git files
!.gitignore

## editorconfig
!.editorconfig

## markdowns
!/README.md

## pipenv
!/Pipfile
!/Pipfile.lock

## uv
!/.python-version
!/pyproject.toml
!/uv.lock

## 'cache' subdirs
cache
__pycache__

## Sources
!/src
